
body {
    overflow-x: hidden;
}
#fotter {

    background-color: black
}
.carousel-item .img-fluid {
  width:100%;
}

.carousel-item a {
  display: block;
  width:100%;
}

#section2,#section5 I {
    font-size: 50px;
}
#section5 {
    min-height: 200px;
    background-image: url(../img/media.jpg);
    background-attachment: fixed;
    
}

#photo-gallary img {
    max-width: 100%;
    max-height: 100%;
}
/* -------------------about---------- */
#about-header {
    background-image: url(https://picsum.photos/1350/300?image=1042) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    
}
#about-more img {
    margin-top: -40px;
}

.dark-overly {
    background-color: rgba(0,0,0,0.7);
}
#about-card i {
    font-size: 50px
}

/* -------------------services---------- */

#package i {
    font-size: 30px;
}
